body {
    background-color: azure;
}

.heading {
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    text-align: center;
}

.data {
    height: 500px;
    width: 500px;
    background-color: aquamarine;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}